.aside {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    transform: translateX(calc(-100% - 5px));
    transition: transform 300ms ease;
    background-color: var(--background);
    box-shadow: 0px 0px 5px 0 rgb(0, 0, 0, 0.2);

    &--open {
        transform: translateX(0);
    }

    &__head {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 12px;

        p {
            font-size: 1.2rem;
            font-weight: 600;
        }

        i {
            font-size: 1.2rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 24px;
            height: 24px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex: 1;
        max-height: 100vh;
        overflow: auto;
    }

    &__footer {
        .sidebar__item {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            padding: 8px;
            background-color: var(--background);
            cursor: pointer;

            p,
            i {
                font-size: 0.85rem;
            }

            p {
                font-weight: 500;
            }

            &:hover {
                filter: brightness(0.95);
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .aside {
        width: 100vw;
        right: 0;
    }
}