:root {
    --background: #fff;
    --text: #000;
    --main: #0171E2;
    --main-text: #fff;
    --red: hsl(5, 90%, 48%);
    --red-light: hsl(5, 90%, 90%);
}

* {
    font-family: 'main';
    font-size: 1rem;
    font-weight: 400;
    color: var(--text);
}

body {
    background-color: var(--background);
}

.container {
    max-width: 1520px;
    margin: 0 auto;
    padding: 15px;
}