:root {
    --background: #1D1D1C;
    --background-hover: rgb(0, 0, 0, 0.25);
    --text: #fff;
    --main: rgb(26, 135, 203);
    --main-light: rgb(26, 135, 203, 0.4);
    --main-text: #fff;
    --red: #E94F37;
    --red-light: rgb(233, 79, 55, 0.4);
    --green: #0eb14c;
    --green-light: rgb(14, 177, 76, 0.4);
    --box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.3);
    --sidebar-box-shadow: 0px 0px 5px 0 rgb(0, 0, 0, 0.2);
}

* {
    font-family: 'main';
    font-size: 1rem;
    font-weight: 500;
    color: var(--text);
}

body {
    background-color: var(--background);
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    .content_wrapper {
        max-width: 1920px;
        margin: 0 auto;
        padding: 15px;
        padding-top: 0;
    }
}