:root {
    --background: #fff;
    --text: #000;
    --main: #0171E2;
    --main-light: #cce6ff;
    --main-text: #fff;
    --red: #dc2918;
    --red-light: #fcd2cf;
}

* {
    font-family: 'main';
    font-size: 1rem;
    font-weight: 400;
    color: var(--text);
}

body {
    background-color: var(--background);
}