.button {
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    cursor: pointer;
    padding: 5px 8px;
    width: fit-content;
    text-align: center;
    transition: all 200ms ease;

    p {
        font-size: 0.85rem;
    }

    i {
        font-size: 0.8rem;
    }

    &:hover {
        filter: brightness(0.95);
    }

    &--icon {
        gap: 8px;

        &:not(:has(p)) {
            width: 23.6px;
            height: 23.6px;
            aspect-ratio: 1;
            justify-content: center;

            i {
                font-size: 0.75rem;
            }
        }
    }

    &--main {
        background-color: var(--main);

        p,
        i {
            color: var(--main-text);
        }
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}