.form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__title {
        h1 {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 5px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 5px;

        label {
            width: fit-content;
            cursor: pointer;
        }

        p {
            font-size: 0.85rem;
            font-weight: 500;
            margin-bottom: 2px;

            &.message {
                display: none;
                margin: 0;
                font-weight: 400;
                font-size: 0.65rem;
            }
        }

        input {
            width: 100%;
        }

        &--invalid {
            input {
                border-color: var(--red);

                &:focus {
                    box-shadow: 0px 0px 0px 3px var(--red-light);
                }
            }

            p {
                color: var(--red);

                &.message {
                    display: block;
                }
            }
        }

        &__input {
            width: 100%;

            &:has(input[type="password"], input[type="text"]) {
                position: relative;

                input {
                    padding-right: 35px;
                }

                .password__eye {
                    position: absolute;
                    top: 50%;
                    right: 5px;
                    transform: translateY(-50%);
                    cursor: pointer;
                    font-size: 0.85rem;
                    width: 25px;
                    height: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        filter: opacity(0.6);
                    }
                }
            }
        }

        &:has(input:required) {
            p:not(.message) {
                &::after {
                    content: "*";
                    color: var(--red);
                    margin-left: 3px;
                }
            }
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;

        .button {
            width: 100%;
            padding: 8px;
        }
    }
}