input {
    border: 1px solid rgb(0, 0, 0, 0.3);
    outline: none;
    border-radius: 4px;
    padding: 0;
    line-height: 1;
    font-size: 0.8rem;
    padding: 5px 8px;
    box-shadow: 0px 0px 0px 0px rgb(0, 0, 0, 0.3);
    transition: all 200ms ease;
    background-color: var(--background);

    &:focus {
        border-color: var(--main);
        box-shadow: 0px 0px 0px 3px var(--main-light);
    }

    &:read-only {
        cursor: default;

        &:focus {
            border-color: rgb(0, 0, 0, 0.3);
            box-shadow: 0px 0px 0px 0px transparent;
        }
    }
}